# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [1]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
df = pd.read_csv( 'baseball_games.csv', index_col=0)
df

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,0,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,0,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,0,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,1,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,0,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,31042.0,Toronto Blue Jays,2,7,5,2016-04-03,on turf,Day Game,Tampa Bay Rays,1,...,72.0,0.0,in unknown direction,In Dome,8,2.850000,regular season,0,1,Loss
2459,39500.0,St. Louis Cardinals,0,5,1,2016-04-03,on grass,Day Game,Pittsburgh Pirates,1,...,39.0,14.0,out to Leftfield,Unknown,5,3.033333,regular season,1,0,Win
2460,20098.0,San Francisco Giants,0,6,3,2016-04-06,on grass,Day Game,Milwaukee Brewers,2,...,66.0,0.0,in unknown direction,In Dome,7,3.316667,regular season,1,0,Win
2461,17883.0,Detroit Tigers,0,13,7,2016-04-06,on grass,Day Game,Miami Marlins,1,...,71.0,0.0,in unknown direction,In Dome,10,3.366667,regular season,0,1,Loss
2462,10298.0,Boston Red Sox,1,10,6,2016-04-06,on grass,Night Game,Cleveland Indians,0,...,60.0,7.0,out to Leftfield,Unknown,13,3.483333,regular season,1,0,Win

In [3]:
# смотрим основную информацию о нашем DataFrame которая может показать в каких данных много пропусков и тип данных
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2463 entries, 0 to 2462
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   attendance         2460 non-null   float64
 1   away_team          2463 non-null   object
 2   away_team_errors   2463 non-null   int64
 3   away_team_hits     2463 non-null   int64
 4   away_team_runs     2463 non-null   int64
 5   date               2463 non-null   object
 6   field_type         2463 non-null   object
 7   game_type          2463 non-null   object
 8   home_team          2463 non-null   object
 9   home_team_errors   2463 non-null   int64
 10  home_team_hits     2463 non-null   int64
 11  home_team_runs     2463 non-null   int64
 12  start_time         2463 non-null   object
 13  venue              2463 non-null   object
 14  day_of_week        2463 non-null   object
 15  temperature        2463 non-null   float64
 16  wind_speed         2463 non-null   float64
 17  wind_direction     2463 non-null   object
 18  sky                2463 non-null   object
 19  total_runs         2463 non-null   int64
 20  game_hours_dec     2463 non-null   float64
 21  season             2463 non-null   object
 22  home_team_win      2463 non-null   int64
 23  home_team_loss     2463 non-null   int64
 24  home_team_outcome  2463 non-null   object
dtypes: float64(4), int64(9), object(12)
memory usage: 500.3+ KB

In [4]:
#  проверяем количество строк с NaN значениями
df.count()

attendance           2460
away_team            2463
away_team_errors     2463
away_team_hits       2463
away_team_runs       2463
date                 2463
field_type           2463
game_type            2463
home_team            2463
home_team_errors     2463
home_team_hits       2463
home_team_runs       2463
start_time           2463
venue                2463
day_of_week          2463
temperature          2463
wind_speed           2463
wind_direction       2463
sky                  2463
total_runs           2463
game_hours_dec       2463
season               2463
home_team_win        2463
home_team_loss       2463
home_team_outcome    2463
dtype: int64

In [5]:
# проверим на NaN строки
df.loc[pd.isnull( df['attendance'])].head()

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
220,NaN,St. Louis Cardinals,1,8,3,2016-07-26,on grass,Day Game,New York Mets,1,...,90.0,11.0,out to Rightfield,Cloudy,5,3.300000,regular season,0,1,Loss
1724,NaN,New York Mets,0,5,1,2016-06-07,on grass,Day Game,Pittsburgh Pirates,0,...,65.0,17.0,out to Centerfield,Cloudy,4,2.666667,regular season,1,0,Win
1912,NaN,Cleveland Indians,2,7,6,2016-05-23,on grass,Day Game,Chicago White Sox,0,...,82.0,11.0,in from Leftfield,Sunny,13,3.166667,regular season,1,0,Win

In [6]:
# заменим NaN значения на медианные 
median_value=df['attendance'].median()
df['attendance']=df['attendance'].fillna(median_value)

In [7]:
#  проверяем количество строк с NaN значениями
df.count()

attendance           2463
away_team            2463
away_team_errors     2463
away_team_hits       2463
away_team_runs       2463
date                 2463
field_type           2463
game_type            2463
home_team            2463
home_team_errors     2463
home_team_hits       2463
home_team_runs       2463
start_time           2463
venue                2463
day_of_week          2463
temperature          2463
wind_speed           2463
wind_direction       2463
sky                  2463
total_runs           2463
game_hours_dec       2463
season               2463
home_team_win        2463
home_team_loss       2463
home_team_outcome    2463
dtype: int64

In [8]:
# Базовая статистика DataFrame 
df.describe().T

,count,mean,std,min,25%,50%,75%,max
attendance,2463.0,30370.988429,9869.451505,8766.00,22445.500000,30604.500000,38384.500000,54449.000000
away_team_errors,2463.0,0.580593,0.793391,0.00,0.000000,0.000000,1.000000,5.000000
away_team_hits,2463.0,8.764515,3.511581,1.00,6.000000,8.000000,11.000000,22.000000
away_team_runs,2463.0,4.413723,3.104556,0.00,2.000000,4.000000,6.000000,21.000000
home_team_errors,2463.0,0.585871,0.805542,0.00,0.000000,0.000000,1.000000,5.000000
home_team_hits,2463.0,8.611855,3.436965,0.00,6.000000,8.000000,11.000000,22.000000
home_team_runs,2463.0,4.519691,3.111572,0.00,2.000000,4.000000,6.000000,17.000000
temperature,2463.0,73.818920,10.583106,31.00,67.000000,74.000000,81.000000,101.000000
wind_speed,2463.0,7.494925,5.055970,0.00,4.000000,7.000000,11.000000,25.000000
total_runs,2463.0,8.933415,4.480352,1.00,6.000000,8.000000,12.000000,29.000000
game_hours_dec,2463.0,3.085302,0.460491,1.25,2.783333,3.033333,3.308333,6.216667
home_team_win,2463.0,0.529436,0.499234,0.00,0.000000,1.000000,1.000000,1.000000
home_team_loss,2463.0,0.470158,0.499210,0.00,0.000000,0.000000,1.000000,1.000000

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [9]:
# создадим фильтр по рассмотрению только игр в сезоне regular season
#df=df[df['season'] == 'regular season']
df1 = df.loc[df['season'] == 'regular season']
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
attendance,2428.0,30169.475906,9775.170440,8766.00,22277.750000,30371.000000,38083.75,53621.000000
away_team_errors,2428.0,0.581960,0.794161,0.00,0.000000,0.000000,1.00,5.000000
away_team_hits,2428.0,8.785420,3.511662,1.00,6.000000,8.500000,11.00,22.000000
away_team_runs,2428.0,4.422158,3.105234,0.00,2.000000,4.000000,6.00,21.000000
home_team_errors,2428.0,0.585667,0.803059,0.00,0.000000,0.000000,1.00,5.000000
home_team_hits,2428.0,8.626442,3.444790,0.00,6.000000,8.000000,11.00,22.000000
home_team_runs,2428.0,4.533361,3.120456,0.00,2.000000,4.000000,6.00,17.000000
temperature,2428.0,73.914333,10.549121,31.00,67.000000,74.000000,81.00,101.000000
wind_speed,2428.0,7.485997,5.061489,0.00,4.000000,7.000000,11.00,25.000000
total_runs,2428.0,8.955519,4.486816,1.00,6.000000,8.000000,12.00,29.000000
game_hours_dec,2428.0,3.079517,0.455968,1.25,2.783333,3.033333,3.30,6.216667
home_team_win,2428.0,0.530066,0.499198,0.00,0.000000,1.000000,1.00,1.000000
home_team_loss,2428.0,0.469522,0.499173,0.00,0.000000,0.000000,1.00,1.000000

In [10]:
# найдем  все строки с максимальным количеством зрителей 
row_max_att = df1[df1['attendance'] == df1['attendance'].max()]

# выведем игры на которые пришло максимальное количество зрителей на весь сезон и обновляем индексацию
row_max_att_del_col = row_max_att[['date','away_team', 'home_team','venue','attendance']].reset_index()

# наводим красоту, удаляем лишний столбец индексов
del row_max_att_del_col['index']

# выводим результат
print('Maximum number of attendance visited the games during the season ')
row_max_att_del_col

Maximum number of attendance visited the games during the season

,date,away_team,home_team,venue,attendance
0,2016-09-20,San Francisco Giants,Los Angeles Dodgers,Dodger Stadium,53621.0

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [11]:
# Вариант 1: найдем  все строки с минимальной температурой
row_min_tpr=df1[df1['temperature'] == df1['temperature'].min()]

# выведем дату и кто с кем играл на игре с самой низкой температурой
row_min_att_del_col = row_min_tpr[['date','away_team', 'home_team','venue','temperature']].reset_index()

# наводим красоту, удаляем лишний столбец индексов
del row_min_att_del_col['index']

# выводим результат
print('The game with minimum temperature')
row_min_att_del_col

The game with minimum temperature

         date         away_team       home_team          venue  temperature
0  2016-04-09  New York Yankees  Detroit Tigers  Comerica Park         31.0

In [12]:
# Вариант 2: используем метод value_counts() для определения колитчества минимальных значений и подставляем его в метод определения наименьшего nsmallest (в случае если значений несколько) 
print('The game with minimum temperature')
df1[df1['temperature'].isin(df1['temperature'].nsmallest(df1['temperature'].value_counts().min()))]

The game with minimum temperature

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,1,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

In [13]:
# Вариант 3: определяем индекс строки с минимальным значением столбца temperature и выводим в таблицу только нужные нам значения из строки моответсвующей минимальному значению температуры
print('The game with minimum temperature')
df1.loc[df1['temperature'].idxmin(), ['date','away_team', 'home_team', 'venue','temperature']]

# недостаток решения в том, что при нескольких одинаковых минимальных температурах выводится только одно

The game with minimum temperature

date                 2016-04-09
away_team      New York Yankees
home_team        Detroit Tigers
venue             Comerica Park
temperature                31.0
Name: 2409, dtype: object

In [14]:
# Вариант 4: находим наименьшее значение в столбце temperature и выводим только одну строку
print('The game with minimum temperature')
df1.nsmallest(1,'temperature')

# недостаток решения в том, что при нескольких одинаковых минимальных температурах придется гадать сколько строк вывести

The game with minimum temperature

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,1,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

In [15]:
# Вариант 1: 

#найдем  все строки с максимальной температурой
row_max_tpr=df1[df1['temperature'] == df1['temperature'].max()]

# выведем дату и кто с кем играл на игре при самой высокой температуре
row_max_att_del_col = row_max_tpr[['date','away_team', 'home_team','venue','temperature']].reset_index()

# наводим красоту, удаляем лишний столбец индексов
del row_max_att_del_col['index']

print('The game with maximum temperature')
row_max_att_del_col

The game with maximum temperature

,date,away_team,home_team,venue,temperature
0,2016-05-13,San Francisco Giants,Arizona Diamondbacks,Chase Field,101.0

In [16]:
# Вариант 2: используем анонимную функцию для нахождения игр с максимальной температурой, отфильтруем методом filter() и сгруппируем методом groupby() по температуре
print('The game with maximum temperature')
df1.groupby('temperature').filter(lambda x: x['temperature'].max() == df1['temperature'].max())

The game with maximum temperature

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,0,...,101.0,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [17]:
# используем анонимную функцию для нахождения игр с максимальной продолжительностью, отфильтруем методом filter() и сгруппируем методом groupby() по времени
row_max_time = df1.groupby('game_hours_dec').filter(lambda x: x['game_hours_dec'].max() == df1['game_hours_dec'].max())

# выведем только столбцы даты, играющих команд, места проведения игры и продолжительности матча
row_max_time_col = row_max_time[['date','away_team', 'home_team','venue','game_hours_dec']]

# выводим результат
print('The game with a maximum duration by time')
row_max_time_col

The game with a maximum duration by time

,date,away_team,home_team,venue,game_hours_dec
1445,2016-07-01,Cleveland Indians,Toronto Blue Jays,Rogers Centre,6.216667

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [18]:
# найдем строки которые соответствуют минимальному времени проведения матча 
row_min_time=df1[df1['game_hours_dec'] == df1['game_hours_dec'].min()]

# выведем только столбцы даты, играющих команд, места проведения игры и продолжительности матча
row_min_time_col = row_min_time[['date','away_team', 'home_team','venue','game_hours_dec']]

# выводим результат
print('The game with a minimum duration by time')
row_min_time_col

The game with a minimum duration by time

           date     away_team           home_team     venue  game_hours_dec
423  2016-09-29  Chicago Cubs  Pittsburgh Pirates  PNC Park            1.25

# 6. Сколько матчей в сезоне закончилось ничьей?

In [19]:
# сравниваем количество выигрышей и проигрышей домашней команды, если оба значения равны нулю, то выводим количество строк в которых это условие выполняется 
draw = len(df1[(df1['home_team_win']==0) &(df1['home_team_loss']==0)]) 


# выводим результат
print('Number of games drawn: ',draw)

Number of games drawn:  1

# 7. Какая игра была последней в сезоне?

In [20]:
# Вариант 1: расчет для количества игра которые были в последний день сезона regular
# Преобразуем строку с датой в тип Date, проверим самую позднюю дату по всему столбцу и выведем строки с последними играми
last_games_date = df1[pd.to_datetime(df1['date']) == pd.to_datetime(df1['date']).max()]

# выводим результат
print('Last games in regular season')
last_games_date

Last games in regular season

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
349,28730.0,Miami Marlins,0,14,7,2016-10-02,on grass,Day Game,Washington Nationals,0,...,73.0,2.0,from Left to Right,Overcast,17,3.600000,regular season,1,0,Win
385,37015.0,Tampa Bay Rays,0,13,6,2016-10-02,on grass,Day Game,Texas Rangers,2,...,82.0,7.0,from Left to Right,Sunny,10,4.000000,regular season,0,1,Loss
386,44615.0,Pittsburgh Pirates,2,9,4,2016-10-02,on grass,Day Game,St. Louis Cardinals,0,...,71.0,6.0,out to Leftfield,Unknown,14,3.200000,regular season,1,0,Win
387,41445.0,Los Angeles Dodgers,1,4,1,2016-10-02,on grass,Day Game,San Francisco Giants,0,...,62.0,10.0,out to Centerfield,Unknown,8,3.066667,regular season,1,0,Win
388,24856.0,Oakland Athletics,0,7,3,2016-10-02,on grass,Day Game,Seattle Mariners,0,...,58.0,1.0,out to Centerfield,Unknown,5,2.566667,regular season,0,1,Loss
389,36935.0,New York Mets,3,8,2,2016-10-02,on grass,Day Game,Philadelphia Phillies,0,...,66.0,2.0,from Right to Left,Cloudy,7,2.650000,regular season,1,0,Win
390,33277.0,Baltimore Orioles,0,7,5,2016-10-02,on grass,Day Game,New York Yankees,0,...,60.0,4.0,from Left to Right,Unknown,7,2.533333,regular season,0,1,Loss
391,29475.0,Cleveland Indians,0,4,3,2016-10-02,on grass,Day Game,Kansas City Royals,0,...,73.0,2.0,from Right to Left,Cloudy,5,2.433333,regular season,0,1,Loss
392,27762.0,Milwaukee Brewers,1,10,6,2016-10-02,on grass,Day Game,Colorado Rockies,0,...,77.0,3.0,out to Centerfield,Sunny,10,3.383333,regular season,0,1,Loss
393,32587.0,Chicago Cubs,0,9,7,2016-10-02,on grass,Day Game,Cincinnati Reds,0,...,71.0,7.0,out to Leftfield,Unknown,11,3.300000,regular season,0,1,Loss
394,21904.0,Minnesota Twins,0,9,6,2016-10-02,on grass,Day Game,Chicago White Sox,0,...,65.0,6.0,out to Leftfield,Unknown,9,3.016667,regular season,0,1,Loss
395,36787.0,Toronto Blue Jays,0,9,2,2016-10-02,on grass,Day Game,Boston Red Sox,1,...,56.0,6.0,out to Leftfield,Unknown,3,3.233333,regular season,0,1,Loss
396,51220.0,Detroit Tigers,1,5,0,2016-10-02,on grass,Day Game,Atlanta Braves,0,...,80.0,8.0,from Left to Right,Cloudy,1,2.783333,regular season,1,0,Win
397,31385.0,San Diego Padres,0,7,2,2016-10-02,on grass,Day Game,Arizona Diamondbacks,0,...,79.0,0.0,in unknown direction,In Dome,5,2.616667,regular season,1,0,Win
398,28083.0,Houston Astros,0,7,1,2016-10-02,on grass,Day Game,Los Angeles Angels of Anaheim,0,...,75.0,5.0,out to Centerfield,Cloudy,9,2.700000,regular season,1,0,Win

In [21]:
# Вариант 2: расчет для количества игра которые были в последний день сезона regular, на начались позже всего по времени

# создаем функцию, которая может преобразовать колонку start_time в числа в десятичном формате 
# Define a function to extract hour and minute for 'begin time'
def extract_begin_time(start_time):
    hour = start_time.split(':')[0]
    minute = start_time.split(':')[1].split()[0]
    return f"{hour},{minute}"

# Use loc to assign the new 'begin time' values
df1['begin_time'] = df1['start_time'].apply(extract_begin_time)

# находим команды которые играли в последний день сезона 
last_games_date = df1[pd.to_datetime(df1['date']) == pd.to_datetime(df1['date']).max()]
    
 # находим самое позднее время начала матча для команд которые играли в последний день сезона 
last_games_time = last_games_date[(last_games_date['begin_time']) == (last_games_date['begin_time']).max()]

# выводим результат
row_max_time_game = last_games_time[['date','away_team', 'home_team','venue','begin_time']]
print('Last games in regular season by date and time')
row_max_time_game

Last games in regular season by date and time

/tmp/ipykernel_27020/1953015542.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['begin_time'] = df1['start_time'].apply(extract_begin_time)

           date          away_team       home_team        venue begin_time
395  2016-10-02  Toronto Blue Jays  Boston Red Sox  Fenway Park       3,17

# 8. У какой игры было минимальное количество зрителей?

In [22]:
# Вариант 1 
# находим минимальное значение в колонке зрители
min_value_att = df['attendance'].min()

 # находим строки с такими же минимальными значениями, используем анонимную функцию и метод apply()
same_min_rows = df[df['attendance'].apply(lambda x: x == min_value_att)]
# выводим результат
print('Games with a minimum attendance (zero attendance)')
same_min_rows[['date','away_team', 'home_team','venue','attendance']]

Games with a minimum attendance (zero attendance)

,date,away_team,home_team,venue,attendance
2130,2016-05-04,Detroit Tigers,Cleveland Indians,Progressive Field,8766.0

# 9. Какая игра в сезоне была самая ветренная?

In [23]:
# находим строки с максимальным значением ветровой нагрузки, используем анономную функцию для проверки максимальных значений, фильтруем filter() и группируем строку используя groupby()
row_max_wind_speed=df1.groupby('wind_speed').filter(lambda x: x['wind_speed'].max() == df1['wind_speed'].max())

# выводим результат
row_max_wind_speed = row_max_wind_speed[['date','away_team', 'home_team','venue','wind_speed']]
print('Games with a maximum windy')
row_max_wind_speed

Games with a maximum windy

,date,away_team,home_team,venue,wind_speed
1655,2016-06-13,Milwaukee Brewers,San Francisco Giants,AT&T Park,25.0
2005,2016-05-15,Houston Astros,Boston Red Sox,Fenway Park,25.0

# 10. В какой игре получили максимальное количество очков?

In [24]:
# отменяем фильтр по regular season и рассматриваем и товарищеские матчи


# находим строки с максимальным значением ранов, используем анономную функцию для проверки максимальных значений, фильтруем filter() и группируем строку используя groupby()
row_max_runs=df.groupby('total_runs').filter(lambda x: x['total_runs'].max() == df['total_runs'].max())

# выводим результат
row_max_runs = row_max_runs[['date','away_team', 'home_team','venue','total_runs']]
print('Games with a maximum runs')
row_max_runs

Games with a maximum runs

            date         away_team         home_team       venue  total_runs
1788  2016-06-02  Seattle Mariners  San Diego Padres  Petco Park          29

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [25]:
# Вариант 1 
# определяем первое макисмальное значение количества ошибок домашней команды
max_value_team_errors = df['home_team_errors'].max()

# делаем выборку всех максимальных значений в столбце, выводим строки используя loc 
max_rows_team_errors = df.loc[df['home_team_errors'] == max_value_team_errors]

# выводим результат
max_rows_team_errors = max_rows_team_errors[['date','away_team', 'home_team','venue','home_team_errors']]
print('Games with a maximum home team errors')
max_rows_team_errors

Games with a maximum home team errors

,date,away_team,home_team,venue,home_team_errors
1178,2016-07-27,Arizona Diamondbacks,Milwaukee Brewers,Miller Park,5

In [26]:
# Вариант 2
# определяем первое макисмальное значение количества ошибок домашней команды
max_value_team_errors = df['home_team_errors'].max()

# выводим строки где максимальное количество ошибок равно первому найденному максимальному значениюrint all rows where the 'Value' column is equal to the maximum value
max_rows_team_errors = df[df['home_team_errors'] == max_value_team_errors]

# выводим результат
print('Games with a maximum home team errors')
max_rows_team_errors

Games with a maximum home team errors

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,5,...,77.0,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss

In [27]:
# Вариант 3
# определяем строки максимальным значением количества ошибок для столбца  home_team_errors
max_value_team_errors = df.nlargest(df['home_team_errors'].eq(df['home_team_errors'].max()).sum(), 'home_team_errors')

# выводим результат
max_value_team_errors

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,5,...,77.0,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество ранов?

In [28]:
# Решаем задачу: в какой игре было максимальное количество хитов

# суммируем занчения двух колонок домашней и гостевой команд и находим первое максимальное значение хитов
max_hits = df[['away_team_hits','home_team_hits']].sum(axis=1).max()

# выведем максимальное количество хитов
print('Maxumum hits is:', max_hits)

# определяем строки с максимальными значениями в столбцах выше просуммированных
max_rows_hits = df.loc[df[['away_team_hits','home_team_hits']].sum(axis=1) == max_hits]

# выводим результат
print('Games with a maximum hits')
max_rows_hits = max_rows_hits[['date','away_team', 'home_team','venue','away_team_hits', 'home_team_hits']]
max_rows_hits

Maxumum hits is: 37
Games with a maximum hits

,date,away_team,home_team,venue,away_team_hits,home_team_hits
1413,2016-07-04,Texas Rangers,Boston Red Sox,Fenway Park,16,21

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [29]:
# определяем количество игр для каждой гостевой команды используя метод value_counts()
away_team_games = df1['away_team'].value_counts().rename_axis('name team').reset_index(name='number of games')

# определяем количество игр для каждой домашней команды используя метод value_counts()
home_team_games = df1['home_team'].value_counts().rename_axis('name team').reset_index(name='number of games')

# объединяем два столбца методом concat()
df_concat = pd.concat([away_team_games, home_team_games])

# выводим количество игр для каждой команды
print('The number of Games for the teams')
df_concat.groupby('name team')['number of games'].sum()

The number of Games for the teams

name team
Arizona Diamondbacks             162
Atlanta Braves                   161
Baltimore Orioles                162
Boston Red Sox                   162
Chicago Cubs                     162
Chicago White Sox                162
Cincinnati Reds                  162
Cleveland Indians                161
Colorado Rockies                 162
Detroit Tigers                   161
Houston Astros                   162
Kansas City Royals               162
Los Angeles Angels of Anaheim    162
Los Angeles Dodgers              162
Miami Marlins                    161
Milwaukee Brewers                162
Minnesota Twins                  162
New York Mets                    162
New York Yankees                 162
Oakland Athletics                162
Philadelphia Phillies            162
Pittsburgh Pirates               162
San Diego Padres                 162
San Francisco Giants             162
Seattle Mariners                 162
St. Louis Cardinals              162
Tampa Bay Rays                   162
Texas Rangers                    162
Toronto Blue Jays                162
Washington Nationals             162
Name: number of games, dtype: int64

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [30]:
# создадим функицю по вычислению суммы в зависимости от условий 1 или 0 в столбце домашней команды
def calculate_team_sums(df1):
    # создадим словарь в который будем помещать названия команд и количество выигрышей
    sums = {}
    for index, row in df1.iterrows():
        # Определим, какую команду следует рассмотреть, основываясь на значении home_team_win 
        team = row['home_team'] if row['home_team_win'] == 1 else row['away_team']
        
        # Обновим сумму для соответствующей команды
        if team in sums:
            sums[team] += 1  # увеличиваем на 1 для упрощения
        else:
            sums[team] = 1
    
    # находим максимальное значение среди сумм
    max_value = max(sums.values()) if sums else 0
    
    #  проверяем на наличие комагд с максимальным количеством выигрышей
    max_teams = [team for team, value in sums.items() if value == max_value]
    return sums, max_value, max_teams

# вычисляем сумму побед для каждой команды и команду с наибольшим количеством побед
team_sums, maximum_value, max_teams = calculate_team_sums(df1)

# выводим результат
print("\nTeam sums:")
print(team_sums)

print("\nMaximum value:", maximum_value)
print("\nTeam(s) with maximum value in regular season:")
for team in max_teams:
 print('\n',team)

Team sums:
{'Kansas City Royals': 81, 'Cincinnati Reds': 68, 'Baltimore Orioles': 89, 'Washington Nationals': 95, 'Colorado Rockies': 75, 'Seattle Mariners': 86, 'Tampa Bay Rays': 68, 'Los Angeles Dodgers': 91, 'Pittsburgh Pirates': 78, 'Chicago White Sox': 78, 'Houston Astros': 84, 'San Francisco Giants': 87, 'Detroit Tigers': 86, 'Texas Rangers': 95, 'San Diego Padres': 68, 'Los Angeles Angels of Anaheim': 74, 'Miami Marlins': 79, 'Chicago Cubs': 104, 'Toronto Blue Jays': 89, 'Atlanta Braves': 68, 'Arizona Diamondbacks': 69, 'New York Mets': 87, 'Minnesota Twins': 59, 'St. Louis Cardinals': 86, 'New York Yankees': 84, 'Boston Red Sox': 93, 'Philadelphia Phillies': 71, 'Milwaukee Brewers': 73, 'Oakland Athletics': 69, 'Cleveland Indians': 94}

Maximum value: 104

Team(s) with maximum value in regular season:

 Chicago Cubs

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [31]:
# вычислим суммарное количество выигрышей в домашних матчах для каждой команды
sum_value = df1.groupby('home_team')['home_team_win'].sum()

# вычислим максимальное количество выигрышей в домашних матчах
max_value = sum_value.max()
# определим имя победится
winner = sum_value.idxmax()

# выводим результат
print(winner, max_value)

Chicago Cubs 57

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [32]:
# вычислим суммарное количество выигрышей в гостевых матчах для каждой команды
sum_value = df1.groupby('away_team')['home_team_loss'].sum()

# вычислим максимальное количество выигрышей в гостевых матчах
max_value = sum_value.max()
# определим имя победится
winner = sum_value.idxmax()

# выводим результат
print('команда', winner, 'выиграла', max_value ,'гостевых матчей в сезоне ')

команда St. Louis Cardinals выиграла 48 гостевых матчей в сезоне

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [33]:
# находимм сумму проигрышных игр для каждой домашней команды команды
sum_value_home = df1.groupby('home_team')['home_team_loss'].sum()

# определяем название домашней команды с максимальным количеством  проигрышей в сезоне и количество проигрышей
loss_home = sum_value_home.idxmax()
loss_value_home = sum_value_home.max()

# находимм сумму проигрышных игр для каждой гостевой команды команды
sum_value_away = df1.groupby('away_team')['home_team_win'].sum()

# определяем название гостевой команды с максимальным количеством проигрышей в сезоне и количество проигрышей
loss_away = sum_value_away.idxmax()
loss_value_away = sum_value_away.max()

# выводим результат
if loss_value_home > loss_value_away:
    print(loss_home, loss_value_home) 
else: print(loss_away, loss_value_away)

Minnesota Twins 52

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [34]:

# вычисляем ковариационную матрицу между победами домашних команд и количеством посетителей
covariance_matrix = df[['home_team_win', 'attendance']].cov()

# достаем ковариацию из нужных колонок в матрице ковариации 
covariance_value = covariance_matrix.loc['home_team_win', 'attendance']

# выводим результат
print (f"Показатель ковариации  {covariance_value} свидетельствует о высокой зависимости выигрыша от количества посетителей матча")

Показатель ковариации  224.73683546545737 свидетельствует о высокой зависимости выигрыша от количества посетителей матча

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [35]:
# группируем по столбцу день недели и суммируем проигрыши для каждого дня недели 
total_loss_by_day = df.groupby('day_of_week')['home_team_loss'].sum()

# определяем количество проигрышей в субботу и воскресенье отдельно
saturday_loss = total_loss_by_day.get('Saturday', 0)
sunday_loss = total_loss_by_day.get('Sunday', 0)

# определим максимальное количество проигрышей
max_value_loses = total_loss_by_day.max()

# вычисляем количество проигрышей за неделю
total_loss = total_loss_by_day.sum()

# определим проигрышные игры за выходные (субботу и воскресенье)
weekend_loss = saturday_loss + sunday_loss

# определим проигрышные игры за другие дни (по совокупности) кроме выходных
other_days = total_loss - weekend_loss

# определим процент проигрышных игр, приходящихся на выходные дни: суцбботу и воскресенье (по совокупности)
percentage_weekend = (weekend_loss / total_loss) * 100

# выводим результат
print("Общее количество проигрышных домашних матчей по дням недели:")
print(total_loss_by_day)
print(f"\n процент проигрышных матчей на выходные дни по сравнению с буднями: {percentage_weekend:.2f}%")
print(f"\n количество проигрышей в субботу: {saturday_loss}")
print(f"\n количество прогрышей в Воскресенье: {sunday_loss}")

# проверим количество проигрышей в субботу и воскресенье с прогрышами в другие дни
if (saturday_loss + sunday_loss) > other_days:
    print("\n Правда. Наибольшее количество проигрышных матчей по сравнению с другимим днями недели (по совокупности) приходится на субботу и вокресенье (по совокупности)")
else:
    print("\n Неправда. Наибольшее количество проигрышных матчей по сравнению с другимим днями недели (по совокупности) не приходится на субботу и вокресенье (по совокупности)")

Общее количество проигрышных домашних матчей по дням недели:
day_of_week
Friday       184
Monday       131
Saturday     175
Sunday       190
Thursday     124
Tuesday      187
Wednesday    167
Name: home_team_loss, dtype: int64

 процент проигрышных матчей на выходные дни по сравнению с буднями: 31.52%

 количество проигрышей в субботу: 175

 количество прогрышей в Воскресенье: 190

 Неправда. Наибольшее количество проигрышных матчей по сравнению с другимим днями недели (по совокупности) не приходится на субботу и вокресенье (по совокупности)

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [36]:
# определим функцию которая в зависимости от температуры возвращает тектовое значение тепло или холодно 
def temp_run(i):
        if (i['temperature']-32)* (5 / 9) < 0:
            return 'cold'
        else:
            return 'warm'
# созданидим новую колонку и применим к ней вышеуказанную функцию          
df['cold_weather'] = df.apply(temp_run, axis = 1 )

# определим суммарное количество ранов в холодную и теплую погоду
sum_runs_weather = df.groupby('cold_weather').agg({'total_runs': ['sum']})

# сравним значения таблицы для холодной и теплой погоды
if sum_runs_weather.loc['cold', ('total_runs','sum')] > sum_runs_weather.loc['warm', ('total_runs','sum')]:
    answer = 'Правда'  
else:
    answer = 'Неправда'  

# выводим результат
print(sum_runs_weather)
print(f'\n', answer)

             total_runs
                    sum
cold_weather
cold                 12
warm              21991

 Неправда